<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap4/bootstrap.min.css">
    <link href="../Content/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../Content/css/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/responsive.css">
</head>
<body>
    <div class="super_container">
        <!-- Header -->

        <header class="header d-flex flex-row">
            <div class="header_content d-flex flex-row align-items-center">
                <!-- Logo -->
                <div class="logo_container">
                    <div class="logo">
                        <img src="../Content/image/logo.png" alt="">
                        <span>LICORERÍA</span>
                    </div>
                </div>

                <!-- Main Navigation -->
                <nav class="main_nav_container">
                    <div class="main_nav">
                        <ul class="main_nav_list">
                            <li class="main_nav_item"><a href="../Index.html">home</a></li>
                            <li class="main_nav_item"><a href="courses.html">cervezas</a></li>
                            <li class="main_nav_item"><a href="elements.html">whisky's</a></li>
                            <li class="main_nav_item"><a href="news.html">cócteles</a></li>
                            <li class="main_nav_item"><a href="contact.html">contacto</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="header_side d-flex flex-row justify-content-center align-items-center">
                <img src="../Content/image/phone-call.svg" alt="">
                <span>+43 4566 7788 2457</span>
            </div>

            <!-- Hamburger -->
            <div class="hamburger_container">
                <i class="fas fa-bars trans_200"></i>
            </div>

        </header>

        <!-- Section: Design Block -->
        <section class="text-center">
            <!-- Background image -->
            <div class="p-5 bg-image" style="
                    background-image: url('../Content/image/Place.jpg');
                    height: 300px;
                    "></div>
                    <!-- Background image -->
                    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
                        margin-top: -100px;
                        background: hsla(0, 0%, 100%, 0.8);
                        backdrop-filter: blur(30px);
                        ">
                        <div class="card-body py-5 px-md-5">
                            <div id="panel_usuarios_admin" class="container-fluid col-12 col-lg-9 container-web-page scroll overflow-auto h-75" >
                                <h1 class="text-center poppins-regular">Usuarios</h1>
                                <h6 class="text-end"><a href="registro.html" class="btn-sm btn-outline-danger w-auto mx-1 fas fa-plus"> Nuevo usuario</a></h6>
                                
                                <table class="table table-bordered poppins-regular">
                                    <thead class="text-center">
                                        <tr>
                                            <th><Strong>No.</Strong></th>
                                            <th><strong>Nombre</strong></th>
                                            <th><strong>Apellido</strong></th>
                                            <th><strong>Correos Electronicos</strong></th>
                                            <th><strong>Eliminar</strong></th>
                                            <th><strong>Estado</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody id="body_tabla_usuarios" class="text-center">
                                    </tbody>
                                </table>
                                <p id="textempty"> <b>No hay usuarios...</b></p>
                            </div>

                        </div>
                    </div>
                </div>
        </section>
        
       
        <!-- Footer -->

        <footer class="footer">
            <div class="container">

                <!-- Footer Content -->

                <div class="footer_content">
                    <div class="row">

                        <!-- Footer Column - About -->
                        <div class="col-lg-4 footer_col">

                            <!-- Logo -->
                            <div class="logo_container">
                                <div class="logo">
                                    <img src="../Content/image/logo.png" alt="">
                                    <span>LICORERÍA</span>
                                </div>
                            </div>

                            <p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum, tempor lacus.</p>

                        </div>

                        <!-- Footer Column - Menu -->

                        <div class="col-lg-4 footer_col">
                            <div class="footer_column_title">Menu</div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_list_item"><a href="../Index.html">Home</a></li>
                                    <li class="footer_list_item"><a href="#">Cervezas</a></li>
                                    <li class="footer_list_item"><a href="#">whisky's</a></li>
                                    <li class="footer_list_item"><a href="#">Cocteles</a></li>
                                    <li class="footer_list_item"><a href="contact.html">contacto</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column - Contact -->

                        <div class="col-lg-4 footer_col">
                            <div class="footer_column_title">Contact</div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="../Content/image/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                        </div>
                                        Blvd Libertad, Cll9 Cr26-#4
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="../Content/image/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                        </div>
                                        0034 37483 2445 322
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="../Content/image/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                        </div>hello@company.com
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer Copyright -->

                <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                    <div class="footer_copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                    </div>
                    <div class="footer_social ml-sm-auto">
                        <ul class="menu_social">
                            <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <!-- Sweet Alert V10.13.0 -->
	<script type="module" src="./node_modules/sweetalert2/src/sweetalert2.js" ></script>
	<script type="module" src="./node_modules/sweetalert2/src/sweetalert2.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 

    <!-- MDBootstrap V5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../Content/plugins/scrollTo/jquery.scrollTo.min.js"></script>

    <!-- General scripts -->
    <script type="module" src="../Models/ScriptDB.js"></script>
    
</body>
</html>